:root {
  margin: 0px;
}
body {
  background-color: black;
  color: #eeeeee;
  margin: 0px;
  text-align: center;
}
nav {
  background-color: black;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
.link {
  text-decoration: none;
  color: rgb(247, 116, 68);
  padding: 10px;
  font-size: 20px;
}
.link:hover {
  background-color: rgba(247, 116, 68, 0.829);
  border-radius: 15px;
  color: white;
  opacity: 0.9;
}
.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(247, 116, 68, 0.829);
}
.actions input,
.select-options {
  padding: 5px 40px;
  margin: 0px 10px;
  border-radius: 10px;
  border: none;
  background-color: white;
}
label {
  color: white;
}
.companies {
  background-color: black;
  margin: 10px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 12px;
}
.company {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 4px 4px 15px rgba(247, 116, 68, 0.676);
  padding: 10px;
  margin: 10px;
  flex: 1;
}
.company-img {
  width: 50%;
  margin: 10px;
  border-radius: 15px;
}
.company h2,
p {
  margin: 10px;
  color: black;
}
button {
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: rgba(247, 116, 68, 0.829);
}
button:hover {
  opacity: 0.8;
}
.single-company {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(247, 116, 68, 0.472);
  margin: 15px;
  border-radius: 15px;
  padding: 10px;
}
.single-company img {
  width: 50%;
}
.company-info p {
  color: white;
  text-align: left;
}
